<router-outlet></router-outlet>
<section style="background: cornflowerblue;">
    <div class="container">
        <div class="text-center">
            <br>
            <h3 class="dark-grey-text mb-5"><strong>OUR SERVICES</strong></h3>
            <p>Our major goal is to render top-notch service and deliver professional e-leraning for proper education branding allover Nigeria </p>
            <div class="modal-footer mx-5 pt-3 mb-1"></div>
          </div>
    </div>
</section>
<br><br>

<section>
<div class="container"> 
<div class="card-footer">
    <p class="card-footer-item">
        <span>
        <a href=""><i class="fa fa-twitter"></i> WE ASK, LISTEN AND UNDERSTAND</a>
        <pre style="background-color: cornflowerblue; color: white;">
            We like to get all useful information from you,
            so as to deliver a quality education of your
            choice just as you want it. Science courses,
            Art courses and even programming courses.
        </pre>
        </span>
    </p> 
    <p class="card-footer-item">
        <span>
        <a href="">WE ARE ON TIME AND ON BUDGET</a>
        <pre style="background-color: cornflowerblue; color: white;">
            We keep to time and deliver at the exact Time 
            frame we provide you. you can learn anything
            within your learning pace. No excuses! our
            services are very affortable.
        </pre>
        </span>
   
    </p>      
</div> 

<div class="card-footer">
    <p class="card-footer-item">
        <span>
        <a href=""><i class="fa fa-twitter"></i> WE WORK IN SMALL TEAMS</a>
        <pre style="background-color: cornflowerblue; color: white;">
            Education is a small agency, we have that level
            of experience of assiging staff in various small
            teams, agile and focused on you. throughout your 
            learning period you will be assigned to an
            instructor who will pay absolute attension to 
            your progress and problems
        </pre>
        </span>
    </p> 
    <p class="card-footer-item">
        <span>
        <a href="">WE PROVIDE FREE EDUCATION</a>
        <pre style="background-color: cornflowerblue; color: white;">
            We offer Science courses, Art courses, 
            Social Science courses, Programming courses
            for free to any student who wants to learn with
            a quicker turnaround that most other e-leraning
            Websites. After each course, Students who perfrom
            well will be allow to take the next course.
        </pre>
        </span>
   
    </p>      
</div>  

</div>
</section>